<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Flot</title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        
        <script src="jquery.js"></script>
        <script src="jquery.flot.js"></script>
        <script src="jquery.flot.pie.js"></script>
    </head>
    <body style="padding:0; margin:0">
        <div id="flot" style="margin: 0; height: 100%">
            
        </div>
        <script>
            var flot = null;
            function init(data, options){
                $('#flot').height($(window).height());
                $('#flot').width($(window).width());
                if ( flot === null ){
                    
                    flot = $.plot($('#flot'), data, options );
                } else {
                    flot.setData(data);
                    flot.draw();
                }
                
                return flot;
            }
            
           
          
            
           //$('#ckeditor').val("Peer is "+window.cn1peer);
        </script>
        
    </body>
</html>
